{% extends 'base.html' %}

{% block title %}My Schedule - Azka Bachri{% endblock %}

{% block content %}
<div class="container">
    <h2 class="title-section">My Schedule In Pondok</h2>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Waktu</th>
                    <th>Aktivitas Coding & Belajar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>03.31 - 04.20</td>
                    <td>Bangun, Sholat Tahajud Persiapan Sholat Shubuh</td>
                </tr>
                <tr>
                    <td>04.20 - 06.00</td>
                    <td>Sholat Shubuh, Dzikir Pagi, Halaqoh Pagi</td>
                </tr>
                <tr>
                    <td>06.01 - 07.30</td>
                    <td>Istirahat, Piket, Makan, Mandi</td>
                </tr>
                <tr>
                    <td>07.31 - 10.15</td>
                    <td>Morning Spirit, Halaqoh Dhuha</td>
                </tr>
                <tr>
                    <td>10.16 - 11.30</td>
                    <td>Istirahat, Persiapan Sholat Dzuhur</td>
                </tr>
                <tr>
                    <td>11.31 - 13.00</td>
                    <td>Istirahat, Makan, Persiapan Halaqoh Siang</td>
                </tr>
                <tr>
                    <td>13.01 - 15.00</td>
                    <td>Halaqoh Siang, Persiapan Sholat Ashar</td>
                </tr>
                <tr>
                    <td>15.01 - 17.30</td>
                    <td>Sholat Ashar, Mandi, Makan, Persiapan Sholat Maghrib</td>
                </tr>
                <tr>
                    <td>17.31 - 18.40</td>
                    <td>Halaqoh Malem, Persiapan Sholat Isya</td>
                </tr>
                <tr>
                    <td>18.41 - 21.30</td>
                    <td>Sholat Isya, Belajar IT</td>
                </tr>
                <tr>
                    <td>21.31 - 22.00</td>
                    <td>Persiapan Tidur</td>
                </tr>
                <tr>
                    <td>22.01 - 03.30</td>
                    <td>Istirahat</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}